/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* end Import Fonts */

* {
    margin: 0px;
    padding: 0px;
}

.header-background {
    background-color: #fffdf0; 
    width: 100%;
    height: 5em;
}

.header-content {
    width: 80%;
    height: 50%;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-header-logo {
    color: #BE2233;
    text-decoration: none;
    font-size: 33px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    padding-left: 30px;
}

.input-search {
    width: 25em;
    height: 40px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    border: none;
    border-radius: 4px;
    background-color:#f4d9d2;

    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.input-search::placeholder {
    color: #cc876a
}

.icon-search {
    width: 30px;

    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
}

.section-account {
    width: 150px;
    height: 40px;

    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.icon-login {
    width: 30px;

    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.a-section {
    width: 100px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #346d9e;
    text-decoration: none;

    position: absolute;
    top: 28%;
    left: 59%;
    transform: translate(-50%, -50%);
}


.a-section-account {
    font-size: 13px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #cc876a;
    text-decoration: none;

    position: absolute;
    top: 60%;
    left: 59%;
    transform: translate(-50%, -50%);
}

.section-card-items {
    width: 80px;
    height: 40px;

    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
}

.icon-car {
    width: 35px;
}

.quanty-items {
    background-color: #cc876a;
    padding: 4px;
    width: 27px;
    height: 25px;
    border-radius: 150px ;
    text-align: center;
    color: white;

    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
}

/* Nav Content */

.nav-background {
    width: 100%;
    height: 5em;
    background-color: #fffdf0; 
}

#h1_bruh {
    width: 1200px;
    height: 3px;
    background-color: #f4d9d2;

    position: relative;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-content {
    width: 80%;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#a-nav-casacos {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;

}

#a-nav-body {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

#a-nav-cropped {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

#a-nav-tshirt {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

#a-nav-dress {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

#a-nav-jaquets {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

#a-nav-shorts {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

#a-nav-pants {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

#a-nav-shoes {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

#a-nav-accessories {
    color: #345d9e;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    text-decoration: none;
    padding-left: 25px;

}

/* End Content Nav */

/* Banner Content */
.banner-background {
    background-color: #f08aa0; 
    width: 100%;
    height: 26em;
}

#conteudo {
    width: 100%;
    height: 26em;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner-namer {
    width: 960px;
    border-radius: 150px;

    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End of Banner Content */

/* Content Carrousel */

.carrousel-content {
    width: 80%;
    height: 53em;

    position: absolute;
    top: 157%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-releases {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    text-align: center;
    color: #cc876a;
}

.carrousel-cards {
    width: 1080px;
    height: 820px;

    position: inherit;
    top: 55%;
    left: 49.4%;
    transform: translate(-50%, -50%);
}

.line_1 {
    width: 1079px;
    height: 400px;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-1 {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%);
}

#image_1-card_1 {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_1 {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_1 {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#h2-price-card_1 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_1 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-2 {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

#image_2-card_2 {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_2 {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_2 {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_2 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_2 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-3 {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
}

#image_3-card_3 {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_3 {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_3 {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_3 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_3 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-4 {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
}

#image_4-card_4 {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_4 {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_4 {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_4 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_4 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.line_2 {
    width: 1079px;
    height: 400px;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.card-5 {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%);
}

#image_5-card_5 {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_5 {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_5 {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_5 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_5 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-6 {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

#image_6-card_6 {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_6 {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_6 {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_6 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_6 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-7 {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
}

#image_7-card_7 {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_7 {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_7 {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_7 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_7 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-8 {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
}

#image_8-card_8 {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_8 {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_8 {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-info-card_8 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e;
    width: 160px; 

    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h3-info-card_8 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 180px;
    height: 40px;

    position: absolute;
    top: 95%;
    left: 49%;
    transform: translate(-50%, -50%);
}

#arrow-path {
    width: 25px;
    height: 27px;

    position: absolute;
    top: 93%;
    left: 85%;
    transform: translate(-50%, -50%);
}

/* End of Content Carrousel */

/* others sections */

.other-sections-background {
    width: 79%;
    height: 25em;

    position: absolute;
    top: 267%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#acessory-imagem-section {
    width: 530px;
    height: 25em;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%);
}

#shoes-imagem-section {
    width: 530px;
    height: 25em;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 75.4%;
    transform: translate(-50%, -50%);
}
/* end of others sections */

/* Promotion Section */

.promotions-content {
    width: 80%;
    height: 30em;   

    position: absolute;
    top: 338%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-promotion {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    text-align: center;
    color: #cc876a;
}

.promotion-cards {
    width: 1080px;
    height: 450px;

    position: inherit;
    top: 57%;
    left: 49.4%;
    transform: translate(-50%, -50%);
}

.line_1_promotion {
    width: 1079px;
    height: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-1_promotion {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%);
}

#image_1-card_1_promotion {
    width: 249px;
    height: 240px;
    border-radius: 5px 5px 0 0;

    position: absolute;
    top: 30.6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_1_promotion {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_1_promotion {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#h2-price-card_1_promotion {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_1_promotion {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-2_promotion {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

#image_2-card_2_promotion {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_2_promotion {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_2_promotion {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_2_promotion {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_2 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-3_promotion {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
}

#image_3-card_3_promotion {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_3_promotion {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_3_promotion {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_3_promotion {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_3 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.card-4_promotion {
    width: 250px;
    height: 390px;
    border: 1px solid #dedede;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
}

#image_4-card_4_promotion {
    width: 250px;
    height: 240px;
    border-radius: 4px 4px 0 0;

    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-release-card_4_promotion {
    background-color: #345d9e;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 95px;
    height: 21px;
    border-radius: 5px;
    padding-top: 2px;

   
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-title-card_4_promotion {
    font-family: "Playfair Display", serif;
    width: 180px;
    font-size: 23px;
    color: #cc876a;

    position: absolute;
    top: 72%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#h2-price-card_4_promotion {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #346d9e; 

    position: absolute;
    top: 83%;
    left: 27%;
    transform: translate(-50%, -50%);
}

#h3-promotion-card_4 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #346d9e; 
    width: 150px;
    height: 40px;

    position: absolute;
    top: 92%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

/* end of Promotion Section */

/* Footer Content */

.footer-background {
    width: 126%;
    height: 30em;
    background-color: #2668A2; 
    
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-content {
    width: 1080px;
    height: 400px;

    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.email-contact {
    border-bottom: 2px solid #f4d9d2; 
    width: 1080px;
    height: 85px;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-email-content {
    font-size: 24px;
    color: #ffffff;
    padding-left: 6px;
    font-family: "Playfair Display", serif;
}

#h2-email-content {
    font-size: 20px;
    color: #ccad6e;
    padding-left: 6px;
    font-family: "Playfair Display", serif;
}

.email-content-right {
    width: 530px;
    height: 70px;

    position: absolute;
    top: 41%;
    left: 75.5%;
    transform: translate(-50%, -50%);
}

#input-email-content {
    width: 507px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #f4d9d2; 
    padding-left: 20px;
    font-size: 17px;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#input-email-content::placeholder {
    font-size: 17px;
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
}

#button-submit-email {
    width: 180px;
    height: 50px;
    font-size: 17px;
    color: #f4d9d2; 
    background-color: #cc876a; 
    border: none;
    border-radius: 4px;

    position: absolute;
    top: 45%;
    left: 82.7%;
    transform: translate(-50%, -50%);
}

#button-submit-email:hover {
    background-color: #9f6b54; 
    transition: 0.4s;
    
}

#arrow-path-email {
    width: 25px;
    height: 25px;

    position: absolute;
    top: 47%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.content-footer-1 {
    width: 253px;
    height: 100px;
    
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
}

#content-footer-1-h1 {
    font-family: "Playfair Display", serif;
    font-size: 29px;
    color: white;
}

.icons-footer {
    width: 253px;
    height: 35px;
    
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#facebook-icon-footer {
    position: relative;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

#instagram-icon-footer {
    position: relative;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
}

#twitter-icon-footer {
    position: relative;
    top: 57%;
    left: 15%;
    transform: translate(-50%, -50%);
}

#linkedin-icon-footer {
    position: relative;
    top: 57%;
    left: 19%;
    transform: translate(-50%, -50%);
}

#pinterest-icon-footer {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.content-footer-2 {
    width: 176px;
    height: 210px;
    
    position: absolute;
    top: 63%;
    left: 37%;
    transform: translate(-50%, -50%);
}

#h2-content-footer-2 {
    font-family: "Playfair Display", serif;
    color: white;
}

.links {
    width: 174px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link-1-footer {
    text-decoration: none;
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

#link-2-footer {
    text-decoration: none;
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

#link-3-footer {
    text-decoration: none;
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

#link-4-footer {
    text-decoration: none;
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    font-size: 15px;

    position: absolute;
    top: 47%;
    left: 11%;
    transform: translate(-50%, -50%);
}

#link-5-footer {
    text-decoration: none;
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    font-size: 15px;

    position: absolute;
    top: 59%;
    left: 21%;
    transform: translate(-50%, -50%);
}

#link-6-footer {
    width: 170px;

    text-decoration: none;
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    font-size: 15px;
    
    position: absolute;
    top: 71%;
    left: 48%;
    transform: translate(-50%, -50%);
}

#link-7-footer {
    text-decoration: none;
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    font-size: 15px;

    position: absolute;
    top: 83%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.content-footer-3 {
    width: 180px;
    height: 210px;

    position: absolute;
    top: 63%;
    left: 59%;
    transform: translate(-50%, -50%);
}

#h2-content-footer-3 {
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 22px;
}

#phone-call-icon {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 21%;
    left: 6%;
    transform: translate(-50%, -50%);
}

#p-number-services {
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    width: 120px;

    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#letter-icon {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 35%;
    left: 7%;
    transform: translate(-50%, -50%);
}

#p-email-services {
    color: #ccad6e; 
    font-family: "Playfair Display", serif;
    width: 120px;

    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-footer-4 {
    width: 300px;
    height: 250px;

    position: absolute;
    top: 59%;
    left: 210%;
    transform: translate(-50%, -50%);
}

#h2-content-footer-4 {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: white;

}

#image_payments {
    width: 305px;
    height: 200px;

    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-site {

    position: absolute;
    top: 124%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#h1-logo-footer {
    font-family: "Playfair Display", serif;
    font-size: 29px;
    color: white;
}

/* end of Footer Content */